<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= t("title") %></title>
</head>

<body>
    <p><%= 1 + 1 %></p>
    <p><%= t("hello") %></p>
    <p><%= t("heldefrglo") %></p>
</body>

</html>